@use "../../abstract/mixins";
@use "../../abstract/animations";

.card{
    width: 40rem;
    background: white;
    aspect-ratio: 1/1;
    @include mixins.flexCenter;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: .5rem;
    background: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    @include animations.a-popup;

    &__heading{
        font-size: 120%;
        text-transform: uppercase;
    }
}